@{
    ViewData["Title"] = "Users";
}
@model RtfWebApp.Models.View.UserViewModel

<script src="~/js/amcharts/amcharts.js"></script>
<link href="~/css/user.css" type="text/css" rel="stylesheet" />


<h2>@ViewData["Title"]</h2>


<div class="row">
    <div class="col-lg-2">

        <img src="#" alt="" class="profile profile-@Model.AvatarId" />
    </div>
    <div class="col-lg-1">
        &nbsp;
    </div>
    <div class="col-lg-2">
        <h3>@Model.Name</h3>
        
        <h4>Age: @Model.Age</h4>
        <h4>Sex: @Model.Sex</h4>
        <h4 title="Feedback quality">FBW: @Model.FeedBackQuality</h4>
    </div>
</div>

<h3>Skils</h3>
@foreach(var gr in @Model.SkilGroups)
{
<div class="row">
    <div class="col-lg-2">
        <h4>@gr.Name</h4>
    </div>
    <div class="col-lg-12">
        @foreach(var skil in gr.Skils)
        {
        <div class="row">
            <div class="col-lg-3">
                @skil.Name
            </div>
            <div class="col-lg-3">
                @skil.Rate
            </div>
        </div>
        }
    </div>
</div>
}